@page

@* *ADD*: Add Using Statement *@
@using BlazorSharedComponents

@model CounterModel
@{
    ViewData["Title"] = "Counter";
}
<h1>@ViewData["Title"]</h1>

<!--<p>TODO: Add Counter Component</p>-->
@* *ADD*: Add component *@
<component type="typeof(CounterComponent)" render-mode="Server" />
